<!-- HERO image-->
<style>
	.hero-image {

		position: relative;
		height: 500px;
		overflow: hidden;
		background: url({{ asset("pictures/hero.jpg")}}) no-repeat center;
		background-size: cover;
	}

	.hero-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
	}

	.hero-container h1 {
		font-size: 72px;
		letter-spacing: 0.2 em;
		margin: 0;
	}

	.hero-container h1 span {
		border: 10px solid white;
		padding: 6px 14px;
		display: inline-block;
	}

	.des {
		margin: 20px;
		display: block;
		font-size: 32 px;
		text-shadow: 0 0 10 px black;
	}
</style>


<div
	class="hero-image">
	<!-- NAVBAR -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg">
		<div class="container-fluid">
			<a class="navbar-brand ms-3" href="#">ANDROMEDA</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="hero-container">
		<h1>
			<span>Andromeda</span>
		</h1>
		<span class="des">
			event agency</span>
	</div>
</div>
